<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<table>
    <th>Plate</th>
    <th></th>
    <th>Content</th>
    <th>Date</th>
    <th>User</th>
    <tr th:each="car :${cars}" th:object="${car}">
        <td th:text="*{plate}"/>
    </tr>
</table>
<!--//ADD NEW plate-->
<h6>Add new plate</h6>
<form method="post" th:action="@{/create}" >
    <div class="form-group">
        <label for="plate">Plate</label>
        <input type="text"  id="plate" name="plate"/>
    </div>
</form>
<h6>Search by plate</h6>
    <div>
        <form  th:action="@{/search}" method="get">
            <div >
                <label >Search</label>
                <input type="search"  name="search" placeholder="Search"/>
                <br/>
                <p><button >Search</button></p>
            </div>
        </form>
    </div>
</body>
</html>